<md-card id="role-detail-component" *ngIf="role">
  <md-card-title>Role details</md-card-title>
  <md-card-content>
    <md-input-container>
      <input mdInput [(ngModel)]="role.id" placeholder="ID" type="text" autocomplete="off" disabled="disabled"/>
    </md-input-container>
    <md-input-container>
      <input mdInput [(ngModel)]="role.extid" placeholder="EXT ID" type="text" autocomplete="off" />
    </md-input-container>
    <br/>
    <md-input-container>
      <input mdInput [(ngModel)]="role.charid" placeholder="CHAR ID" type="text" autocomplete="off" />
    </md-input-container>
    <md-input-container>
      <input mdInput [(ngModel)]="role.name" placeholder="NAME" type="text" autocomplete="off"/>
    </md-input-container>
    <md-card-actions>
      <button md-button (click)="goBack()">Back</button>
      <button md-button (click)="save()">Save</button>
    </md-card-actions>
  </md-card-content>
</md-card>
