<div>
<md-card>
  <md-card-title>Role / Access Code</md-card-title>
  <md-card-content>
    <md-grid-list [cols]="numberOfCols" rowHeight="60px">
      <ng-container *ngFor="let row of cells">
        <ng-container *ngFor="let cell of row">
            <md-grid-tile>
              <app-role-acode-cell [cell]="cell"></app-role-acode-cell>
            </md-grid-tile>
        </ng-container>
      </ng-container>
    </md-grid-list>
  </md-card-content>
  <button md-raised-button (click)="save()">Save</button>
</md-card>
<md-card>
  <button md-raised-button (click)="set_01()">set_01</button>
  <button md-raised-button (click)="set_02()">set_02</button>
  <button md-raised-button (click)="set_03()">set_03</button>
</md-card>
</div>
