<md-card>
  <md-card-title>Roles</md-card-title>

  <form>
    <md-input-container>
      <input md-input placeholder="Role Name" #roleName >
    </md-input-container>
    <button md-raised-button (click)="add(roleName.value); roleName.value=''">
      Add new
    </button>
  </form>
  <md-list class="roles">
    <md-list-item *ngFor="let role of roles"
         (click)="gotoDetail(role.id)">
         <span class="badge">{{role.id}}</span><span class="text">{{role.name}} [ {{role.extid}} / {{role.charid}} ]</span>
         <button md-icon-button (click)="delete(role); $event.stopPropagation()"><md-icon>delete</md-icon></button>
    </md-list-item>
  </md-list>
</md-card>
